<h2><%= @appointment.readable_time%></h2>
<h2><%= link_to @appointment.patient.name, patient_path(@appointment.patient.id) %></h2>
<h2><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor.id) %></h2> 